# Kotlin / Java
*.iml

# Gradle
.gradle/
**/build/

# Local config
local.properties

# IDE
.idea/

# Android
*.apk
*.ap_
*.aab
/captures
.externalNativeBuild

# KSP / KAPT 
/ksp
/generated

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Secrets 
*.properties
secrets.properties